# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
database.sqlite
node_modules
ncp-debug.log
npm-debug.log
.idea
tmp
.yarnclean
yarn.lock
yarn-error.log
.ssh
.vscode
.DS_Store
.vscode
src/api/lab.js
